/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #0860a4;
  text-decoration: none;
}

a:hover {
  color: #aacd6b;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'KronaOne';
}

#main {
  margin-top: 70px;
  z-index: 3;
  position: relative;
  border-radius: 100;
}

.rnow{
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 9em;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------------------------FONTS------------------------------------ */

@font-face {
  font-family: 'KronaOne';
  src:url('/assets/css/webfonts_KronaOne/KronaOne.ttf.woff') format('woff'),
      url('/assets/css/webfonts_KronaOne/KronaOne.ttf.svg') format('svg'),
      url('/assets/css/webfonts_KronaOne/KronaOne.ttf.eot'),
      url('/assets/css/webfonts_KronaOne/KronaOne.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------- */
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0860a4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6b99bd;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 80px;
  z-index: 10000;
  transition: all 0.7s ease-in-out;
  /* background:transparent; */

  border-radius: 4px;
  position: fixed;
  width: 100%;
}
.headermobile {
  height: 80px;
  z-index: 10000;
  transition: all 0.7s ease-in-out;
  /* background:transparent; */

  border-radius: 4px;
  position: fixed;
  width: 100%;
}
.header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .logo h1 a,
.header .logo h1 a:hover {
  color: #3c4133;
  text-decoration: none;
}
.header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.bg-scroll {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.iconn {
  /* visibility: hidden; */
  margin: 0%;
}
#imgg {
  margin: 0%;
  width: 190px;
}
#imgg1 {
  margin: 0%;
  width: 160px;
  padding-top: -0.4em;
  /* padding-left: 2.5em; */
}
@media (max-width: 508px) {
  #imgg {
    width: 180px;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.4em;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
  padding: 1em;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 16px 1px 10px 10px;
  margin-right: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #f6f6f6;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #62a1d1;
  font-weight: 600;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #0860a4;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #9fc658;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #0860a4;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
  .header {
    height: 70px;
    z-index: 10000;
    transition: all 0.7s ease-in-out;
    /* background:transparent; */

    border-radius: 4px;
    position: fixed;
    width: 100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #3c4133;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
  background: #015292;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .header {
    color: rgb(0, 77, 128);
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(155, 174, 199, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a {
  color: #015292;
}
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;

  color: #3c4133;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #0860a4;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #0860a4;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 89vh;
  background: url("../img/home/rnbow.jpeg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -140px;

  background-position: top -94px right 00px;
  filter: contrast(135%);
  /* filter: brightness(150%) */
}
#heroHead {
  width: 95%;
  background-size: contains;
  object-fit: contain;
}
#hero:before {
  content: "";
  background: rgba(60, 65, 51, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  margin-left: 10em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 46.8%;
  background-size: contains;
  object-fit: contain;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  
  font-size: 30px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #0860a4;
  text-transform: uppercase;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #0860a4;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .hero-container {
    width: 80%;
    margin-left: 1em;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
  #hero .hero-container {
    width: 100%;
    margin-left: 1em;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding-bottom: 20px;
  overflow: hidden;
}

.section-bg {
  background: transparent;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #5086a5;
}
.section-title p {
  margin-bottom: 0;
}
/* -----------------------Work section------------------- */

.workcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  padding: 2rem 4rem 4rem;
}
.workcontainer .wrapper {
  transform: skew(-10deg);
  transition: 0.25s;
}
.workcontainer .wrapper:before {
  content: '';
  left: 0;
  top: 0;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 40px;
  opacity: 0;
  border: 2px solid #ece9e6;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.05s;
}
.workcontainer .wrapper:hover:before {
  opacity: 1;
  transform: translateY(1.5rem) translateX(1.5rem);
}

.workcontainer .wrapper:hover {
  transform: translateX(-1rem) translateY(-1rem) skew(-10deg);
}
.workcontainer .wrapper:hover .card {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
}
.workcontainer .wrapper:hover .card:after {
  background-blend-mode: normal;
}
.workcontainer .wrapper:hover .card .fal {
  bottom: 4rem;
  background-color: rgba(255,255,255,0.8);
}
.workcontainer .card {
  background-color: #fff;
  border-radius: 40px;
  height: 15rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
.workcontainer .card:after {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.workcontainer .card .fal {
  position: absolute;
  bottom: -1rem;
  right: 3rem;
  border-radius: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #373f51;
  z-index: 1;
  transform: skew(10deg) translateY(50%);
  text-align: center;
  transition: 0.25s;
}
/* ------------------       ----------------------------- */
/*--------------------------------------------------------------
# gallery
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* Header/Blog Title */

.gallhead {
  color: #0860a4;
  padding-bottom: 0.2em;
  padding-top: 1.2em;
  font-size: 48px;
  font-weight: 650;
}
.headergal {
  width: 100%;
  
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  margin-bottom: 1em;
}

#galsub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;

  font-size: 18px;
  font-weight: 450;
}

.containergal {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
@media (max-width: 508px) {
  .containergal {
    width: 100%;
    display: block;
    padding: 0 20px;
  }
}

.slide1 {
  height: 600px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide1 h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide1.active {
  flex: 10;
}

.slide1.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/*  */
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding-top: 1em;
  margin-bottom: 1em;
  background-color: #266a9e;
}
.breadcrumbs .breadcrumb-hero {
  text-align: center;
  /* background: #7eabdc; */
  padding: 1em 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.breadcrumbs .breadcrumb-hero h2 {
  font-size: 42px;
  font-weight: 500;
}
.breadcrumbs .breadcrumb-hero p {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 400;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 30px 0;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #565e49;
  content: "/";
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px 5px;
  /* box-shadow: 0px 0.2px 0px rgba(0, 0.1, 0.1, 0.198); */
  padding-bottom: 15px;
  background: rgb(254, 255, 255);
  max-width: 95%;
  z-index: 999;
  border-radius: 5px;
}

.about .count-box {
  width: 100%;
}
.about .count-box i {
  display: block;
  font-size: 48px;
  color: #0860a4;
  float: left;
  line-height: 0;
}
.about .count-box span {
  font-size: 28px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #646c55;
  margin-left: 60px;
}
.about .count-box p {
  padding: 5px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #646c55;
}
.about .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #646c55;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.about .count-box a:hover {
  color: #8b9578;
}
.about .content {
  font-size: 15px;
}

.abtHead {
  margin-top: 2em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #015292;

  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 46px;
}
.aboutSub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  
  
  padding-top: 2em;
  font-size: 17px;
  font-weight: 400;
}
.aboutSubImg {
display: flex;
align-items:flex-end;
margin-top: 6em;
margin-left: 2em;
  width: 55%;
  height: auto;



 
}
@media (max-width: 768px) {
  .aboutSub {
    padding-left: 1em;
    padding-right: 1em;
  }
  .abtHead {
    padding-left: 1.5em;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Team 
--------------------------------------------------------------*/
.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.action a {
  display: inline-block;
  padding: 5px 10px;
  background: #f30;
  color: #fff;
  text-decoration: none;
}
.action a:hover {
  background: #000;
}
/*--------------------------------------------------------------
# Product
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
}
.services .icon-box:hover {
  transform: translateY(-5px);
}
.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}
.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.services .title {
  margin-left: 40px;
  font-weight: 700;

  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .icon-box:hover .title a {
  color: #0860a4;
}
.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}
.productHead {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
  color: #015292;
}
#headingProduct {
  color: #015292;
  margin-top: 1em;
  font-weight: 550;
  margin-bottom: 1rem;
  font-size: 46px;
}
#prodsub {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1em;
  font-size: 18px;
  font-weight: 400;
}
#prodH1 {
  font-size: 2.6em;
  font-weight: 500;
  color: #015292;
}
#prodsubHead {
  font-size: 17px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-weight: 300;
  margin-right: 2em;
}
.prod-img {
  padding-left: 4em;

  margin-right: 4em;
}

.prod-right {
  padding-right: 4em;

  margin-left: 4em;
}

/*--------------------------------------------------------------
# Search Blog
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills {
  padding-top: 60px;
}
.skills .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3c4133;
  font-family: "Poppins", sans-serif;
}
.skills .content ul {
  list-style: none;
  padding: 0;
}
.skills .content ul li {
  padding-bottom: 10px;
}
.skills .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #0860a4;
}
.skills .content p:last-child {
  margin-bottom: 0;
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #3c4133;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #e1e4dc;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0860a4;
}

/*--------------------------------------------------------------
# Our Clients
--------------------------------------------------------------*/
.clients {
  padding-top: 60px;
}
.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}
.clients .swiper-slide img:hover {
  opacity: 1;
}
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0860a4;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0860a4;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

#teamHead {
  padding-top: 2.6em;
  padding-bottom: 0.3em;
  font-weight: 650;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #015292;
  font-size: 46px;
}
.team-list img {
  width: 10%;
}

.team-list .content {
  width: 10px;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.t .team,
.team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title,
.team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position,
.team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon li a {
  color: #3377d2;

  display: inline-block;
  height: 40px;
  text-align: center;
  font-size: 24px;
  width: 32px;
  padding-left: 5px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}
.rounded {
  border-radius: 5px !important;
}

.para-desc {
  max-width: 600px;
}
.text-muted {
  color: #8492a6 !important;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}
/*--------------------------------------------------------------
# map
--------------------------------------------------------------*/
.contactbtn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1em;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #0860a4;
  float: left;
  width: 44px;
  height: 44px;
  background: #f0f6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #3c4133;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #b4c1d3;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #3790c3;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #3b64b1;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #0860a4;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #aacd6b;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0860a4;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #0860a4;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(60, 65, 51, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #0860a4;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #0860a4;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #0860a4;
  display: inline-block;
  padding: 6px 35px 8px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: 0 3px 7px rgba(148, 192, 69, 0.4);
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #aacd6b;
}
.pricing .featured h3 {
  color: #fff;
  background: #0860a4;
  box-shadow: 0 3px 7px rgba(148, 192, 69, 0.4);
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #0860a4;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-top: 60px;
}
.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #dee1d9;
}
.faq .faq-item i {
  color: #bcc2b1;
  font-size: 20px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}
.faq .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 28px;
  font-family: "Poppins", sans-serif;
}
.faq .faq-item p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #0860a4;
  float: left;
  width: 44px;
  height: 44px;
  background: #f0f6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #3c4133;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #717a60;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0860a4;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #0860a4;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 6px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #5499d3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #ffffff;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
  margin: 0.6em;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: bottom ease-in-out 0.4s;
  background: #3082c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a:hover {
  color: #0860a4;
}
.team .member .social i {
  font-size: 18px;
  line-height: 0;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: #3082c5;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 0 0 40px 0;
  overflow: hidden;
}
.bloglogo {
  font-size: 10px;
  margin-left: 2em;
}
.navbar1 {
  padding: 1em;
}
.navbar1 ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar1 li {
  position: relative;
}
.navbar1 a,
.navbar1 a:focus {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 16px 1px 10px 10px;
  margin-right: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #5b84b3;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.navbar1 a i,
.navbar1 a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar1 a:hover,
.navbar1 .active,
.navbar1 .active:focus,
.navbar1 li:hover > a {
  color: #62a1d1;
  font-weight: 600;
}
.navbar1 .getstarted,
.navbar1 .getstarted:focus {
  background: #0860a4;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}
.navbar1 .getstarted:hover,
.navbar1 .getstarted:focus:hover {
  color: #fff;
  background: #9fc658;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #3c4133;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar1 ul {
    display: none;
  }
}
.navbar1-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 36, 29, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar1-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar1-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar1-mobile a,
.navbar1-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #3c4133;
}
.navbar1-mobile a:hover,
.navbar1-mobile .active,
.navbar1-mobile li:hover > a {
  color: #0860a4;
}
.navbar1-mobile .getstarted,
.navbar1-mobile .getstarted:focus {
  margin: 15px;
}
.navbar1-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar1-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar1-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar1-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar1-mobile .dropdown ul a:hover,
.navbar1-mobile .dropdown ul .active:hover,
.navbar1-mobile .dropdown ul li:hover > a {
  color: #0860a4;
}
.navbar1-mobile .dropdown > .dropdown-active {
  display: block;
}

#blogheader {
  height: 80px;
  z-index: 10000;
  transition: all 0.7s ease-in-out;
  background: white;
  color: #111;
  border-radius: 4px;

  width: 100%;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
  color: #3c4133;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: #0860a4;
}
.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #a3ab95;
}
.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.blog .entry .entry-content p {
  line-height: 24px;
}
.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #0860a4;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.blog .entry .entry-content .read-more a:hover {
  background: #0860a4;
}
.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #3c4133;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.blog .entry .entry-footer i {
  color: #8b9578;
  display: inline;
}
.blog .entry .entry-footer a {
  color: #494f3e;
  transition: 0.3s;
}
.blog .entry .entry-footer a:hover {
  color: #0860a4;
}
.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog .entry .entry-footer .cats li {
  display: inline-block;
}
.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog .entry .entry-footer .tags li {
  display: inline-block;
}
.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.blog .entry .entry-footer .share {
  font-size: 16px;
}
.blog .entry .entry-footer .share i {
  padding-left: 5px;
}
.blog .entry-single {
  margin-bottom: 30px;
}
.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}
.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #3c4133;
}
.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}
.blog .blog-author .social-links a {
  color: rgba(60, 65, 51, 0.5);
  margin-right: 5px;
}
.blog .blog-author p {
  font-style: italic;
  color: #b7b7b7;
}
.blog .blog-comments {
  margin-bottom: 30px;
}
.blog .blog-comments .comments-count {
  font-weight: bold;
}
.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog .blog-comments .comment .comment-img img {
  width: 60px;
}
.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}
.blog .blog-comments .comment h5 a:hover {
  color: #0860a4;
}
.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #3c4133;
}
.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #565e49;
  margin-bottom: 5px;
}
.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}
.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}
.blog .blog-comments .reply-form p {
  font-size: 14px;
}
.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #0860a4;
}
.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #0860a4;
}
.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}
.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #3c4133;
}
.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #494f3e;
}
.blog .blog-pagination {
  color: #717a60;
}
.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog .blog-pagination li a {
  color: #3c4133;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: #0860a4;
}
.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: #fff;
}
.blog .sidebar {
  overflow: hidden; /* Disable horizontal scroll */
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  padding-top: 20px;
}
.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #3c4133;
  position: relative;
}
.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}
.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #0860a4;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.blog .sidebar .search-form form button i {
  line-height: 0;
}
.blog .sidebar .search-form form button:hover {
  background: #0860a4;
}
.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}
.blog .sidebar .categories ul a {
  color: #3c4133;
  transition: 0.3s;
}
.blog .sidebar .categories ul a:hover {
  color: #0860a4;
}
.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}
.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}
.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #3c4133;
  transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
  color: #0860a4;
}
.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
.blog .sidebar .tags {
  margin-bottom: -10px;
}
.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .tags ul li {
  display: inline-block;
}
.blog .sidebar .tags ul a {
  color: #0860a4;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #edefea;
  display: inline-block;
  transition: 0.3s;
}
.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #0860a4;
  background: #0860a4;
}
.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #d5d8ce;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footerr {
  background: transparent;
  border-radius: -10em;
  padding-top: 2.5em;
  /* box-shadow: rgba(0, 0, 0, 0.25)  0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px  5px; */

  font-size: 14px;
}
.footerLeftimg {
  display: inline-flex;
  flex-direction: row;
  /* padding-right: 3em; */
}
.footerimg {
  padding-right: 1em;
  padding-left: 2em;
  max-width: 45%;
  max-height: 45%;
  padding-top: 2em;
}
.footerhead {
  font-size: 28px;
  margin-bottom: -1em;
  margin-left: 3em;
}
#footerr .footer-top {
  background: transparent;
}
#footerr .footer-top .footer-info {
  margin-bottom: 30px;
}
#footerr .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
  color: #3a70ad;
}
#footerr .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: green;
}
.social-links a {
  display: inline-block;
  background: #a9baba;
  color: #fff;
  line-height: 1;
  /* margin-left: 0.6em; */
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-links a i {
  line-height: 0;
  font-size: 22px;
}
 .social-links a:hover {
  background: #0860a4;
  color: #fff;
  text-decoration: none;
}
#footerr .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  /* padding-bottom: 12px; */
}
#footerr .footer-top h4::before,
#footerr .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
#footerr .footer-top h4::before {
  right: 0;
  background: #3c4133;
}
#footerr .footer-top h4::after {
  background: #0860a4;
  width: 60px;
}
#footerr .footer-top .footer-links {
  margin-bottom: 30px;
}
#footerr .footer-top .footer-links ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}
#footerr .footer-top .footer-links ul li {
  padding: 0 0 15px 0;
}
#footerr .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
}
#footerr .footer-top .footer-links ul a:hover {
  color: #0860a4;
}
#footerr .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footerr .footer-top .footer-contact p {
  line-height: 26px;
}
#footerr .footer-top .footer-newsletter {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footerr .footer-top .footer-newsletterleft {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin-left: 1.5em; */
}

#footerr .footer-top .footer-right {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footerr .footer-top .footer-newsletter input[type="email"] {
  padding: 6px 8px;
  width: 65%;
  border: 0;
  background: #e7eaee;
  border-color: rgb(214, 218, 219);
  color: #fff;
  border-radius: 4px 0 0 4px;
}
#footerr .footer-top .footer-newsletter input[type="submit"] {
  background: #0860a4;
  border: 0;
  border-color: #0860a4;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 1px 4px 1px 1px;
}
#footerr .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #4e8bb4;
}
#footerr .copyright {
  text-align: center;
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  #footerr .copyright {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .footerhead {
    font-size: 27px;
    margin-bottom: -10px;
    margin-left: 3em;
  }
}
@media (max-width: 786px) {
  .footerhead {
    font-size: 27px;
    margin-bottom: -10px;
    margin-left: 5em;
  }
}
@media (max-width: 400px) {
  .footerhead {
    font-size: 20px;
    margin-bottom: -10px;
    margin-left: 3.6em;
  }
}

#footerr .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
/*  */
.footerrow {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* other footer */
#footer {
  background: #141611;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: #1c1f18;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
  color: #0860a4;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  display: inline-block;
  background: #3c4133;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
#footer .footer-top .social-links a:hover {
  background: #0f61a0;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
#footer .footer-top h4::before {
  right: 0;
  background: #3c4133;
}
#footer .footer-top h4::after {
  background: #0860a4;
  width: 60px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 0 0 15px 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
}
#footer .footer-top .footer-links ul a:hover {
  color: #0860a4;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border-radius: 4px 0 0 4px;
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #0860a4;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0860a4;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
